<header class="page__header">
  <div class="header__container">

    <!-- LOGO -->
    <a class="logo" href="https://adalab.es" target="_blank" rel="noopener">
      <img src="/images/adalab-logo.png" alt="Adalab" />
    </a>

    <!-- MENÚ -->
    <nav class="menu__nav">
      <a href="https://medium.com/adalab" class="blog__menu" target="_blank" rel="noopener">BLOG</a>
      <a href="https://adalab.es/contacto/" class="contacto__menu" target="_blank" rel="noopener">CONTACTO</a>
    </nav>

  </div>
</header>
